
[base]
# ex: cssdhr.data.tbe
dbtProjectName = cssvdc.data.tbe
#Ne changer que si vous ne suivez pas la configuration standard et que votre dossier de projet dbt n'est pas voisin du dossier Dagster
dbtProjectPath = 

#---------------------------------------------------------------------------
#utiser cette section pour activer ou desactiver des options supplémentaires
#---------------------------------------------------------------------------

[alerteCourriel]
#changer à true pour activer
enabled = false
#Votre serveur SMTP
smtp_server = 
smtp_server_port = 25
#Courriel a afficher pour l'envoi
from = dagster.alert@cssdhr.gouv.qc.ca
#destinataire
to = 


[dFondation]
#changer à true pour activer
enabled = false
#changer au besoin
pathPreFix = ..\\____CHANGEME____\\seeds\\seeds_vivantes\\DFONDATION_
#standard ne pas changer
account = GRICS-DFONDATION
#mettre votre user tel que défini dans la documentation de la feature dFondation
user = 
#mettre la clef d'environnement que vous voulez utiliser
#Si le mot de passe n'est pas dans une variable d'environnement, on assume que le mot de passe est en "clair" dans la config
password = dFondation_key
#standard ne pas changer
warehouse = COMPUTE_WH_CLIENTS
#standard ne pas changer
database = DFONDATION